In [246]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import csv as seesv

In [247]:
dfweather = pd.read_csv("daily_weather_data.csv")

In [248]:
dfhappy = pd.read_csv("2019HappinessReport.csv")

In [249]:
dfweather.columns

Index(['date', 'country', 'city', 'Latitude', 'Longitude', 'tavg', 'tmin',
       'tmax', 'wdir', 'wspd', 'pres'],
      dtype='object')

In [250]:
dfweather= dfweather.drop(['city','Latitude','Longitude','tmin','tmax','wdir','wspd','pres'], axis = 1)

In [251]:
dfweather.columns

Index(['date', 'country', 'tavg'], dtype='object')

In [252]:
dfhappy.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [253]:
dfhappy = dfhappy.rename(columns={'Country or region': 'country'})

In [254]:
dfhappy['tavg'] = 0

In [255]:
dfweather.shape

(324647, 3)

In [256]:
dfweather1=dfweather.groupby('country')['tavg'].mean()

In [257]:
dfweather1=dfweather1.to_frame()

In [258]:
dfhappy.dtypes

Overall rank                      int64
country                          object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
tavg                              int64
dtype: object

In [259]:
dfweather2=pd.DataFrame(dfweather.country.dropna().unique(), columns=['country'])

In [260]:
dfweather1.loc[:, dfweather2.columns] = dfweather2.to_numpy()

In [261]:
dfweather1

                        tavg            country
country
Abkhazia           15.157507           Abkhazia
Aland Islands       7.327085      Aland Islands
Albania            16.811633            Albania
Algeria            19.602923            Algeria
American Samoa     27.242980     American Samoa
...                      ...                ...
Vatican City       16.916103       Vatican City
Venezuela          26.599482          Venezuela
Vietnam            24.450946            Vietnam
Wallis and Futuna  27.226132  Wallis and Futuna
Western Sahara     20.446418     Western Sahara

[194 rows x 2 columns]

In [262]:
dfweather1.tavg[1]

7.3270845313398505

In [263]:
for index, row in dfweather1.iterrows():
    for i, row in dfhappy.iterrows():
        if dfweather1.country[index] == dfhappy.country[i] :
            x = dfweather1.tavg[index]
            dfhappy.tavg[i] = x

C:\Users\wadem\AppData\Local\Temp\ipykernel_30436\2066513065.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfhappy.tavg[i] = x

In [264]:
dfhappy

,Overall rank,country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,tavg
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,7.352894
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,10.321334
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,8.104241
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,5.449112
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,11.179195
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.000000
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.000000
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.000000
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,28.327278
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.000000

In [265]:
dfhappy.isna().any()

Overall rank                    False
country                         False
Score                           False
GDP per capita                  False
Social support                  False
Healthy life expectancy         False
Freedom to make life choices    False
Generosity                      False
Perceptions of corruption       False
tavg                            False
dtype: bool

In [267]:
count = (dfhappy['tavg'] == 0).sum()
count

57

In [268]:
dfhappy.to_csv('dfhappy.csv')

In [278]:
dfhappy2 =pd.read_csv("dfhappy.csv")

In [279]:
dfhappy2

,,Overall rank,country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,tavg
0,0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,7.352894
1,1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,10.321334
2,2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,8.104241
3,3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,5.449112
4,4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,11.179195
...,...,...,...,...,...,...,...,...,...,...,...
151,151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,17.850000
152,152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,22.350000
153,153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,12.600000
154,154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,28.327278
155,155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,27.880000